#your-labspaces {
    margin: auto;
    text-align: center;
    align-items: center;
    width: 75%;
    font-size: 2em;
    margin-top: 2em;
}

/* LABSPACE CHECKBOX SELECT */
.labspace-check {
    margin: auto;
    width: 90%;
}
.labspace-checkbox input[type="checkbox"] {
    display: none;
  }

  .labspace-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    
}

.labspace-checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px;
    margin-left: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color:white;
}

.labspace-checkbox input[type="checkbox"]:hover + label:hover {
    color: var(--primary-shadow);
}
.labspace-checkbox input[type="checkbox"]:hover + label:before {
    background: var(--primary-text-col);
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}
.labspace-checkbox input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}
.labspace-checkbox input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
}
.labspace-checkbox input[type="checkbox"]:checked + label:before {
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: var(--primary-text-col);
    box-shadow: 0 0 0 1px #000;
}

#selected-labspace {
    width: 225px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 1em;
    padding: 0.5em;
    color: var(--primary-text-col);
    border: 4px solid var(--primary-text-col);
    transition: 0.5s;
    cursor: pointer;
}

#selected-labspace:hover {
    color: var(--secondary-text-col);
    background: var(--primary-shadow);
    text-decoration: none;
    border-radius: 40px 10px;
}


#labspace-header {
    margin: auto;
    text-align: center;
    align-items: center;
    width: 75%;
    margin-top: 1em;
}

#labspace-header .labspace-title {
    font-size: 2em;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.5em;
    background: linear-gradient(to right, var(--accent-pink), var(--accent-yellow));
    color: var(--primary-text-col);
    border: 4px solid var(--primary-text-col);
    transition: 0.5s;
    padding: 0.5em 1em;

}
#labspace-header .labspace-title:hover {
    color: var(--secondary-text-col);
    background: var(--primary-shadow);
    text-decoration: none;
    border-radius: 40px 10px;
}

#labspace-header .description {
    font-size: 1.25em;
    color: var(--secondary-text-col);
    width: 75%;
    margin: auto;

}

#labspace-messages {
    margin: auto;
    text-align: left;
    align-items: center;
    width: 90%;
    margin-top: 2em;
    
}

#labspace-messages .user-post {
    border: 4px solid var(--primary-text-col);
    border-radius: 40px 10px;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    width: 50%;
    background-color: rgba(0,0,0,0.3);
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

#labspace-messages h3 {
    font-size: 1.5em;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(to right, var(--accent-yellow), var(--accent-pink));
    color:transparent;
    background-clip: text;
    
}

#labspace-messages .body {
    color: var(--secondary-text-col);
    font-size: 0.8em;
}

#labspace-messages .timestamp {
    color: var(--secondary-text-col);
    font-size: 0.4em;
    font-style: italic;
}
