{% extends 'main.html' %}

{% block other_stylesheet %}

{% load static %}
    <link rel="stylesheet" href="{% static 'styles/labspaces.css' %}">

{% endblock other_stylesheet %}

{% block content %}

{% load my_filters %}

<div id="labspace-header"> 
    <h2 class="labspace-title">{{ labspace.host }}'s <em color="white">{{ labspace.name }}</em> labspace</h2>
    <p class="description">{{ labspace.description }}</p>
</div>

<div id="labspace-messages">

    {% if messages %}
        {% for message in messages %}
            {% get_alignment messages=messages current_message=message as align_val %}
            <div class="user-post {{ align_val }}">


                <h3 class="message-user">@{{ message.user }}<h3>
                <p class="message-body"> {{ message.body }}</p>
                <p class="message-timestamp">posted {{ message.created|timesince }} ago</p>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-messages">
            <h2>There are no messages in this labspace yet. Be the first to write something!</h2>
        </div>
    {% endif %}

</div>

{% endblock %}
