{% extends 'main.html' %}

{% block other_stylesheet %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/labspaces.css' %}">
{% endblock other_stylesheet %}

{% block content %}
{% load my_filters %}

<div id="your-labspaces">
    <h2>YOUR LABSPACES</h2>

    {% for labspace in labspaces %}
    <div class="labspace-check">
        <div class="labspace-checkbox">
          <input type="checkbox" id="labspace-checkbox{{ labspace.id }}" name="check" data-url="{% url 'labspaces:labspace' labspace.id %}">
          <label for="labspace-checkbox{{ labspace.id }}">{{ labspace.name }} 
            <span style="color: var(--primary-shadow); font-size: 0.75em;">
            {% if timesince_last_message|get_timesince:labspace.id == "No messages yet" %} 
            &#8594; {{ timesince_last_message|get_timesince:labspace.id }}
            {% else %}
            &#8594; last activity: {{ timesince_last_message|get_timesince:labspace.id }}
            {% endif %}
            </span></label>
        </div>
    </div>
    {% endfor %}

    <div class="buttons">
        <button id="selected-labspace" type="submit">Go to labspace!</button>
    </div>
    
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% load static %}
<script src="{% static 'labspaces.js' %}"></script>
{% endblock content %}