{% extends 'main.html' %}

{% block other_stylesheet %}

{% load static %}
    <link rel="stylesheet" href="{% static 'styles/labspaces.css' %}">

{% endblock other_stylesheet %}


{% block content %}

{% load my_filters %}

<div id="your-labspaces">
    <h2>YOUR LABSPACES</h2>
    {% if not labspaces %}
        <p class="select-advice">No labspaces yet, create one now!</p>
        
    {% else %}
        <p class="select-advice">Select a labspace!</p>
        {% for labspace in labspaces %}
        <div class="labspace-check">
            <div class="labspace-checkbox">
                <input type="checkbox" id="labspace-checkbox{{ labspace.id }}" name="check" labspace-url="{% url 'labspaces:labspace' labspace.id %}" edit-url="{% url 'labspaces:edit_labspace' labspace.id %}" delete-url="{% url 'labspaces:delete_labspace' labspace.id %}">
                <label for="labspace-checkbox{{ labspace.id }}">{{ labspace.name }} 
                <span style="color: var(--accent-yellow); font-size: 0.75em;">
                    {% if timesince_last_message|get_timesince:labspace.id == "No messages yet" %} 
                    &nbsp;&nbsp;&nbsp;&#8594;&nbsp;&nbsp;&nbsp; {{ timesince_last_message|get_timesince:labspace.id }}
                    {% else %}
                    &nbsp;&nbsp;&nbsp;&#8594;&nbsp;&nbsp;&nbsp; last activity: {{ timesince_last_message|get_timesince:labspace.id }}
                    {% endif %}
                </span>
                </label>
            </div>
        </div>
        {% endfor %}
        <div class="labspace-buttons">
            <button id="selected-labspace-btn" type="submit">Go to labspace!</button>
            <button id="edit-labspace-btn" type="submit">Edit labspace</button>
            <button id="delete-labspace-btn" type="submit">Delete labspace</button>
        </div>
    {% endif %}


    
</div>
<div id="create-labspace-container">
    <h2>CREATE NEW LABSPACE</h2>
            <form method="post" action="">
                {% csrf_token %}
                <table class="create-labspace-form">
                {{ form.as_table }}
                </table>
                <button id="labspace-create-btn" type="submit">Create new labspace</button>
            </form>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% load static %}
<script src="{% static 'labspaces.js' %}"></script>


{% endblock content %}