{% if submitted %}
    <div class="contact-success-container">
    <h3 class="contact-success">Your message was submitted successfully!</h3>
    <p class="contact-success">
        You should receive a confirmation email soon and a response from us ASAP. Thanks :)
    </p>
</div>
    <a id="contact-success-btn" href="{% url 'base:index' %}">Go back</a>


{% else %}
    <form method="post" action="">
        {% csrf_token %}
        <table class="form-table">
            {{ form.as_table }}
        </table>
    <button id="contact-submit" type="submit">Send message</button>
    </form>
    <div id="spacing-bottom-submit"></div>

{% endif %}
