{% extends 'main.html' %}

{% block content %}

<section class="hero">
    <div class="hero-header">
        <h1>LaboraTasks,<br>a laboratory tasks manager</h1>
        <p>Streamline your lab workflow and manage tasks efficiently.</p>
        <div class="buttons">
            <a class="register" href="{% url 'user_authentication:register' %}">Register</a>
            <a class="login" href="{% url 'user_authentication:login' %}">Log in</a>
        </div>
    </div>
    {% comment %} Slideshow {% endcomment %}
    <div class="hero-image-slideshow">
           
        <div class="slides-container" id="slides-container">
            {% load static %}
            <img class="fade" src="{% static 'images/microscope.jpg' %}">
            {% load static %}
            <img class="fade" src="{% static 'images/space.jpg' %}">
          
            {% load static %}
            <img class="fade" src="{% static 'images/meeting.jpg' %}">
        </div>
        <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
        <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>
        <div id="slides-text">
            <p>Create</p>
            <p>Organize</p>
            <p>Progress</p>
    
        </div>
    </div>
</section>
<hr id="hero-features-sep">
<section>
<div id="features">
    <div class="feature">
        {% load static %}
        <img src="{% static 'images/create-lab.png' %}" alt="create icon">
      <h3>Create your Lab</h3>
      <p>Add, remove, and update user information easily.</p>
    </div>
    <div class="feature">
        {% load static %}
        <img src="{% static 'images/manage-space.png' %}" alt="manage space icon">
        <h3>Organize spaces</h3>
      <p>Create and manage private rooms for your team.</p>
    </div>
    <div class="feature">
        {% load static %}
        <img src="{% static 'images/dashboard.png' %}" alt="track progress icon">
        <h3>Track progress</h3>
        <p>Assign tasks to users and your lab's progress</p>
    </div>
</div>
</section>

<div id="about">
    <h2>ABOUT THE PROJECT</h2>
    <p class="about-subheader">This is a project for a web development introduction class. Here's the list of functionality I want to implement:</p>
    
    <div class="item-check">
        <div class="checkbox-rect">
          <input type="checkbox" id="checkbox-rect1" name="check">
          <label for="checkbox-rect1">Configure a confirmation email backend with SendGrid</label>
        </div>
    </div>
    <div class="item-check">
        <div class="checkbox-rect">
          <input type="checkbox" id="checkbox-rect2" name="check">
          <label for="checkbox-rect2">User registration and lab affiliation</label>
        </div>
    </div>
    <div class="item-check">
        <div class="checkbox-rect">
          <input type="checkbox" id="checkbox-rect3" name="check">
          <label for="checkbox-rect3">CRUD principles on Labspaces/chatrooms</label>
        </div>
    </div>
    <div class="item-check">
        <div class="checkbox-rect">
          <input type="checkbox" id="checkbox-rect4" name="check">
          <label for="checkbox-rect4">Message board and search functionality</label>
        </div>
    </div>
</div>  
<section>
<div id="contact">
    <h2>CONTACT US</h2>

    {% include "contact_email/contact.html" %}

</div>
</section>
{% load static %}
<script src="{% static 'index.js' %}"></script>
{% endblock %}
